.form {
  padding-top: 10px;
  padding-inline: 20px;
  padding-bottom: 30px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5px;
  width: 440px;
  margin: auto;
}

.label {
  font-size: 30px;
  text-align: center;
}

.forgot {
  text-align: end;
  padding-bottom: 10px;
  font-size: 13px;
}
